<div class="chatbox-container">
	<div class="message--container" id="message-container">
		<div class="messages" id="messages">
			<div class="message info text-center">
				<span class="text">Logged in as Guest</span>
			</div>
		</div>
	</div>
	<div class="form">
		<form>
			<textarea placeholder="Type here to chat (enter to send)" id="textContent"></textarea>
		</form>
	</div>
</div>
