<div style="height:100%;">
	<ul class="nav nav-tabs">
		<li class="tab active"><a href="javascript:void(0)" data-toggle="tab" data-target="#page1">Verbs</a></li>
		<li class="tab"><a href="javascript:void(0)" data-toggle="tab" data-target="#page2">Status</a></li>
		<li class="tab"><a href="javascript:void(0)" data-toggle="tab" data-target="#page3">Help</a></li>

		<div id="nav-buttons" class="pull-right">
			<div id="tabDropdown" class="btn-group btn-group-sm">
				<div id="tabDrop" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
					>>
				</div>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0)" data-toggle="tab" data-target="#page1">Verbs</a></li>
					<li><a href="javascript:void(0)" data-toggle="tab" data-target="#page2">Status</a></li>
					<li><a href="javascript:void(0)" data-toggle="tab" data-target="#page3">Help</a></li>
				</ul>
			</div>
			<div class="btn-group btn-group-sm">
				<div class="btn btn-default">
					<i class="glyphicon glyphicon-print"></i>
				</div>
				<div class="btn btn-default">
					<i class="glyphicon glyphicon-time"></i>
				</div>
				<div class="btn btn-info">
					<i class="glyphicon glyphicon-user"></i>
				</div>
				<div class="btn btn-default">
					<i class="glyphicon glyphicon-eye-close"></i>
				</div>
			</div>
		</div>
	</ul>
	<div class="tab-content" style="background-color: black; margin-top:-19px; height:80%;">
		<div id="page1" class="tab-pane active">
			<h1 class="text-center" style="padding:30px;">1</h1>
		</div>
		<div id="page2" class="tab-pane">
			<h1 class="text-center" style="padding:30px;">2</h1>
		</div>
		<div id="page3" class="tab-pane">
			<h1 class="text-center" style="padding:30px;">3</h1>
		</div>
	</div>
</div>
